/***galery***/
.galery_resize_img{width: 100%; height: auto;}

#widgetcontent{text-align: center;}
@media screen and (max-width: 800px){#widgetcontent{padding-top: 20%;}}
@media screen and (max-width: 1000px){#widgetcontent{padding-top: 5%;}}

#widget
{
	border: 1px solid #777777;
	text-align: center;
	cursor: pointer;
	width: 200px;
	padding: 10px;
	margin: 10px;
	display: inline-table;
}
#widget:hover{border: 1px solid #D64937;}

#widget a{text-decoration: none; color: #000;}
#widget a:hover{color: #D64937;}

#widget img{width: 200px; height: 150px;}

#tmp_img{display: none; cursor: pointer; width: auto; height: auto;}
#hint
{
	display: none; 
	background: #2d2d2d; color: #fff;	
	margin-bottom: 10px;
}

.color_blue { color: #00BEFF; }

#control { text-align: center; margin: 5px; }
#control a{ border: 1px solid #000; margin: 3px; padding: 2px; }
#control a:hover{ border: 1px solid #D64937; color: #D64937; }
#control .inactive{ border: 1px solid #DCDCDC; color: #DCDCDC; }
#control .inactive:hover{ border: 1px solid #DCDCDC; color: #DCDCDC; }
