/* Startpage  Css
By Dylan Araps */
#menu ul
{
	display: block;
	margin: 0 auto;
	width: 70%;
}
		
#menu li
{
	color: #D64937;
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.5;
	list-style: none;
	margin: 5px;
}
		
#menu a
{
	color: #2d2d2d;
	text-decoration: none;
	transition: .2s;
}
		
/*volk's css*/
#menu a:hover { color: #D64937; }

/***content container***/
@media screen and (max-width: 1080px){#content{width: 50%;}} /*fix for 1920x1080 screens*/

#content
{
	width: 70%;
	margin: 0 auto;
	padding-top: 10px; 
	background: #fff;
	padding: 10px;
}
#content a{color: #777; text-decoration: none; transition: .2s;}
#content a:hover{color: #D64937; }

#content .ava_img{width: 200px;}

@media screen and (max-width: 800px){#headline{padding-top: 5%;}} /*fix for 800x600 screens*/

#header{font-size: 2em; color: #D64937; padding-bottom: 10px;}
#header .small{font-size: 0.4em; color: #C4C4C4;}
#header a{color: #D64937;}

p
{
	font-family: sans-serif, dejuvu-sans-book;
	text-align: justify;
	line-height: 1.5em;
}

.indent{ text-indent: 20px; }

.quote{ border-left: 2px solid #D64937; padding-left: 8px; }

/***footer***/
#footer 
{
	background: #D64937; color: #fff;
	text-align: center;
	width: 70%;
	margin-left: 15%;
}
#footer a{color: #333; text-decoration: none;}
#footer a:hover{color: #fff;}

/*****************************/
.center{text-align: center;}
/*elastic images -- makes images resize, when screen small*/
.center img {max-width: 100%; height: auto; width: auto\9; /* ie8 */}
.center iframe {max-width: 100%; padding-top: 100px; padding-bottom: 200px;}
.resize{width: 50%; height: auto;}
.left{width: 80%;}
table ul{list-style: none; padding-left: 0; margin-top: -10px; line-height: 1.5em;}
