html, body
{
    font-family: sans, dejuvu-sans-book;
    height: 96%; /*because fuck css*/
}

/***content container***/
@media screen and (max-width: 1080px){#content{width: 50%;} .resize{width: 70%;}} /*fix for 1920x1080 screens*/

#content
{
    width: 70%;
    margin: 0 auto;
    padding-top: 10px; 
    background: #fff;
    padding: 10px;
    min-height: 100%;
}
#content a{color: #777; text-decoration: none; transition: 0.3s;}
#content a:hover{color: #FFA500;}
